			<div class="container">
				<div class ="card-header">
					{{pageTitle}}
				</div>
				<div class="card-body" [@fadeInOut]>
					<div class="row" >
						<div>
							Filter By:
						</div>
						<div>
							<input type="text" [(ngModel)]='listFilter'/>
						</div>
					</div>
					<div class="row">
						<div>
							<h4>Filtered by: {{listFilter}}</h4>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table" *ngIf =" products && products.length">
							<thead>
								<tr>
									<th>
										<button class="btn btn-primary" (click) = "toggleImage()">
											{{showImage ? 'Hide' : 'Show'}} Image
										</button>
									</th>
									<th>Product</th>
									<th>Code</th>
									<th>Available</th>
									<th>Price</th>
									<th>Star Rating</th>
									<th>Add/Remove Item(s)</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let product of FilteredProducts">
									<td *ngIf="product.starRating > 3.5">
										<img *ngIf ="showImage" [src]='product.imageUrl' [title]='product.productName'
										[style.width.px]= 'imageWidth'
										[style.height.px]= 'imageHeight'
										[style.margin.px]='imageMargin'/>
									</td >
									<td *ngIf="product.starRating > 3.5">{{product.productName}}</td>
									<td *ngIf="product.starRating > 3.5">{{product.productCode | lowercase | convertToSpaces: '-'}}</td>
									<td *ngIf="product.starRating > 3.5">{{product.releaseDate}}</td>
									<td *ngIf="product.starRating > 3.5">{{product.price | currency: 'NG': 'symbol': '1.2-2'}}</td>
									<td *ngIf="product.starRating > 3.5">
										<star [rating]='product.starRating'
											  (rated)='uponReceivedClick($event)'></star>
									</td>
									<td *ngIf="product.starRating > 3.5">
										<add-remove-item (like)="toggleFavorite(product)" [liked]="userHasLiked(product)">
										</add-remove-item>
									</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>